:root {
    --bg-blue: #93B5C9;
    --bg-wine: #AB2849;
}

body {
    margin: 0px;
    padding: 0px;
}

.caja1 {
    background-color: var(--bg-blue);
    height: 110px;
}

.caja2 {
    background-color: var(--bg-wine);
    height: 202px;
    margin-bottom: 16px;
}

.caja3 {
    background-color: var(--bg-wine);
    height: 102px;
    margin-left: 90px; 
    margin-bottom: 16px;
}

.caja4 {
    background-color: var(--bg-wine);
    height: 82px;
    margin-left: 12px;
    margin-right: 12px;
}