:root {
    --bg-blue: #93B5C9;
    --bg-wine: #AB2849;
}

body {
    margin: 0px;
    padding: 0px;
}

.contenedor-flex {
    display: flex;
    /* max-width: 90vw;
    max-height: 100vh; */
    flex-wrap: wrap;
    justify-content: center;
}

.caja1 {
    background-color: var(--bg-wine);
    flex-grow: 0;
    flex-shrink: 1;
    height: 80px;
    width: 100%;
    margin-top: 1rem;
}

.caja1:nth-child(1) {
    background-color: var(--bg-blue);
    margin-top: 0;
    height: 100px;
}

.caja1:nth-child(2) {
    margin-top: 0;
    height: 200px;
}

.caja1:nth-child(3), :nth-child(6) {
    width: 80%;
}

.caja1:nth-child(4), :nth-child(5), :nth-child(7), :nth-child(8) {
    width: 40%;
    border-right: 3px solid white;
}

.caja1:nth-child(9) {
    height: 70px;
}
